$max-width: 1200px;

html {
	width: 100%;
	height: auto;
	background: #eee;

	body{
		width: 100%;
		max-width: 1200px;
		height: auto;
		background: white;
		margin: 0 auto;

		.main-row {
			padding: 0.5rem 2rem;
		}

		h1 {
			padding: 1.4rem 0;
		}
	}
} 




